# Virtual environment
env/
venv/
.Python

# Pipenv lock file (optional)
Pipfile.lock/

# Byte-compiled / cache files
*.pyc
__pycache__/
*.pyo
*.pyd

# Django-specific
*.log
local_settings.py
db.sqlite3
media/

# VS Code settings
.vscode/
